@model IEnumerable<Superheroes.EF.DATA.Cours>

@{
    ViewBag.Title = "Upcoming Courses";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseType.Type)
            </th>
            <th></th>
        </tr>
    </thead>

<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseType.Type)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.CourseID }) @:|
                @Html.ActionLink("Delete", "Delete", new { id=item.CourseID }) @:|
            }
            @Html.ActionLink("Details", "Details", new { id = item.CourseID })
        </td>
    </tr>
}
</tbody>

</table>
